<div class="fixed inset-0 flex items-center justify-center">
  <div class="bg-black opacity-50 fixed inset-0"></div>
  <div class="bg-white p-8 max-w-md mx-auto z-10">
    <h2 class="text-2xl font-bold mb-4">Edit User</h2>
    <form>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username"
          >Username</label
        >
        <input
          [(ngModel)]="updatedUser.username"
          name="username"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email"
          >Email</label
        >
        <input
          [(ngModel)]="updatedUser.email"
          name="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="text"
          placeholder="Email"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="roles"
          >Roles</label
        >
        <!-- Use select box for roles -->
        <select
          [(ngModel)]="updatedUser.roles"
          name="roles"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="roles"
        >
          <option *ngFor="let role of userRoles" [value]="role">
            {{ role }}
          </option>
        </select>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="enabled"
          >Enabled</label
        >
        <!-- Use checkbox for enabled -->
        <input
          [(ngModel)]="updatedUser.enabled"
          name="enabled"
          class="form-checkbox h-5 w-5 text-blue-600"
          id="enabled"
          type="checkbox"
        />
      </div>
      <div class="flex items-center justify-end">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="button"
          (click)="onSaveChanges()"
        >
          Save Changes
        </button>
        <button
          class="ml-4 bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded"
          type="button"
          (click)="onCloseModal()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
