<div class="grid place-items-center">
  <mat-card class="w-96 mx-auto mt-8">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <formly-form
          [form]="loginForm"
          [fields]="fields"
          [model]="model"
        ></formly-form>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>

      
      <p class="mt-4">
        Don't have an account? <a routerLink="/register" class="text-blue-500">Register here</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
