/* side-nav.component.css */

mat-sidenav {
  width: 200px;
  background-color: #edfdfa;
}

mat-sidenav-content {
  padding: 16px; 
}

.active {
  background-color: #cbcefc;
}

app-side-nav, mat-sidenav-content {
  min-height: 82vh !important;
}

.sidenav-item{
  border-radius: 0px 10px 50px 0px;
}

.sidenav-item:hover{
  background-color: #cbcefc69;
}

/* Mobile responsiveness */
@media (max-width: 767px) {
  mat-sidenav {
    width: 56px;
  }

  .sidebar-label {
    display: none;
  }

  mat-icon {
    margin-right: 0;
  }
}
