<div class="w-96 h-auto flex flex-col items-center justify-center p-4">
  <h2 class="mat-h2 font-bold mb-4">Generate Survey using Gemini AI</h2>
  <div class="mb-4 w-full">
    <p class="mat-body-1 text-gray-600">
      Enter a prompt for generating the survey:
    </p>
    <mat-form-field class="w-full">
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        class="w-full"
        [(ngModel)]="prompt"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="flex justify-end space-x-2 w-full mt-4">
    <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="loading"
      (click)="generateSurvey()"
    >
      <span *ngIf="loading">AI is thinking...</span>
      <span *ngIf="!loading">Generate</span>
    </button>
  </div>
</div>
