<mat-card class="w-96 mx-auto mt-8">
  <mat-card-header>
    <mat-card-title>Create Survey</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>

      <!-- Loop through added questions and provide input for options -->
      <div *ngFor="let question of questions; let i = index">
        <app-create-question-form
          [index]="i"
          [form]="form"
          [model]="model"
          (addOptions)="addOptions(i, $event)"
        ></app-create-question-form>
      </div>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="addQuestionForm()"
      >
        Add Question
      </button>

      <button mat-raised-button color="primary" type="submit">
        Submit Survey
      </button>
    </form>
    <div #questionContainer></div>

  </mat-card-content>
</mat-card>
